<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>My User Page</h1>
    <form action="<%= userDetail != '' ?'/user/updatedata':'/user/savedata'%>" method="post">
        <input type="hidden" name="id" value="<%= userDetail != '' ?userDetail._id:'' %>">
        <label for="">Name:</label>
        <input type="text" name="name" id="" value="<%= (userDetail != '')? userDetail.name:''%>"><br><br>
        <label for="">Age:</label>
        <input type="text" name="age" id="" value="<%= (userDetail != '')? userDetail.age:''%>"><br><br>
        <label for="">Salary:</label>
        <input type="text" name="salary" id="" value="<%= (userDetail != '')? userDetail.salary:''%>"><br><br>
        <input type="submit" value="<%= userDetail != '' ?'Update Data':'Save Data'%>"><br><br>
    </form>
    <table border="2">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Action</th>          
        </tr>
        <% userdata.map((i)=>{ %>
            <tr>
                <td><%= i._id %></td>
                <td><%= i.name %></td>
                <td><%= i.age%></td>
                <td><a href="/user/edit/<%= i._id%>">Edit</a> <a href="/user/delete/<%= i._id%>">Delete</a></td>
            </tr>
        <% }) %>
    </table>
    
</body>
</html>